@import "tailwindcss";

body {

    @apply overflow-x-hidden bg-size-[800px] md:bg-size-[100%] bg-[rgb(6,_12,_19)] bg-[url('assets/light.svg')] bg-top bg-no-repeat p-[20px] inset-shadow-[0px_-20px_70px_rgba(9,_58,_32,_0.4)] select-none;
}




/*

    body{

    margin: 0;
    padding: 20px;

    background: rgb(6, 12, 19)
        
        url('assets/light.svg') no-repeat ;

    background-position-x: center;

    box-shadow: inset 0 -20px 70px rgba(9, 58, 32, 0.4);

    user-select: none;
    
    }

*/
