@import "tailwindcss";



.custom_box{

  @apply bg-[linear-gradient(rgb(38,_38,_38),_rgb(64,_64,_64))] rounded-[10px] border-[1px] border-[rgb(84,_84,_84)];
}

.custom_hover:hover{

  @apply border-black;

}

.custom_box:focus{

  @apply outline-none border-[rgb(84,_84,_84)];

}

.custom_box:focus:hover{

  @apply outline-none border-[rgb(128,_128,_128)];

}

.my-select__indicators {
  transition: transform 0.3s ease-in-out;
}

.my-select__control--menu-is-open .my-select__indicators {
  transform: rotate(180deg);
}

/*
    min-h-15 border-1 max-w-30 min-w-25 rounded-xl border-solid border-gray-600 bg-gradient-to-b from-neutral-800 to-neutral-700
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
*/
